/* Table of Content
==================================================

			

	/*--------------------------------------------------------------
	1.2 - Transition
	--------------------------------------------------------------*/
	a, input[type="submit"], input[type="reset"], .radio-label input[type="radio"] + span:before, .dt-sc-image-caption.type3 .dt-sc-image-content h3 { -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }
	
	
	ol{ list-style-type:decimal; list-style-position:outside; padding-left:20px; padding-top:10px; }
	ol li { padding-bottom:10px; }
	ol li ol { margin-bottom:0px; list-style-type:lower-alpha; }
	ol ol ol { margin-bottom:0px; list-style-type:lower-roman; }	
	
	blockquote { display:block; padding:0px; margin:0px; position:relative; clear:left; }
	blockquote > p { font-size:18px; line-height:30px; display:inline-block; font-style:italic; font-weight:300; border-top:2px solid; border-bottom:2px solid; padding:20px 0px; margin-bottom:10px; }
	
	blockquote.alignleft { margin-right:20px; text-align:left; width:30%; float:left; }
	blockquote.alignright { margin-left:20px; text-align:left; width:30%; float:right; }
	blockquote.aligncenter { text-align:center; }
	
	.post-edit-link, .vc_inline-link { background:rgba(0, 0, 0, 0.05); border-radius:3px; color:#000000; float:right; clear:both; margin:20px 0px 20px; line-height:24px; padding:2px 13px; font-size:12px; }
	.post-edit-link:hover, .vc_inline-link:hover { color:#ffffff; }	
	.vc_inline-link { clear:none; margin-right:10px; }
	
	.page-link { float:left; clear:both; margin:10px 0px 0px; padding:0px; }
	.page-link a { border:1px solid rgba(0, 0, 0, 0.5); color:#303030; font-weight:bold; line-height:normal; padding:7px 13px 5px; float:left; margin-right:10px; }
	.page-link a span { border:0px; color:#303030; padding:0px; margin:0px; }
	.page-link > span { border:1px solid rgba(0, 0, 0, 0.5); color:#ffffff; font-weight:bold; line-height:normal; padding:7px 13px 5px; float:left; margin-right:10px; }
	.page-link a:hover span { color:#ffffff; }
	
	
	
	/*--------------------------------------------------------------
	1.6 - Tables
	--------------------------------------------------------------*/
	
	table { border-collapse:separate; border-spacing:0; margin-bottom:20px; width:100%; clear:both; border-top:1px solid rgba(0, 0, 0, 0.1);  }
	th { color:#ffffff; border-bottom:1px solid rgba(0, 0, 0, 0.1); padding:15px; font-size:14px; line-height:normal; font-weight:600; text-transform:uppercase; text-align:center; }
	td, tbody th { border-bottom:1px solid rgba(0, 0, 0, 0.1); font-size:14px; line-height:normal; text-align:center; padding:13px 15px; }
	tbody tr:nth-child(2n+1) td { background:rgba(0, 0, 0, 0.03); }
	tbody td .dt-sc-button.small { padding:7px 14px; font-size:12px; margin:0px; }
	th a, th a:hover { color:#ffffff; }
	th a:hover { text-decoration:underline; }
	
	
	
	/*--------------------------------------------------------------
	1.7 - Definition Lists
	--------------------------------------------------------------*/
	
	dl { margin:0px 0px; }
	dl.gallery-item { margin:0px; }
	.gallery-caption { margin-bottom:10px; }
	.gallery-item img { border:10px solid rgba(0, 0, 0, 0.1) !important; }
	dt { font-weight:bold; font-size:14px; margin-bottom:10px; }
	dd { margin-bottom:20px; line-height:20px; }	
	 
	 
	 

	/*--------------------------------------------------------------
	1.12 - Unit Test
	--------------------------------------------------------------*/
	.admin-bar .is-sticky .main-header-wrapper, .header-align-left.admin-bar .is-sticky #menu-wrapper, .header-align-center.admin-bar .is-sticky #menu-wrapper { top:31px !important; }
	
	.admin-bar.overlay-header #trigger-overlay, .admin-bar.overlay-header .overlay .overlay-close, .admin-bar.left-header #toggle-sidebar { top:43px; }
	
	.comment-navigation { float: left; width: 100%; border-top: 1px solid #d1d1d1; border-bottom: 1px solid #d1d1d1; padding:10px 0px; }
	.commententries #respond { float: left; width: 100%; margin-top: 30px; }
	
	.commententries .nav-previous { float:left; }
	.commententries .nav-next { float:right; }
	.commententries .nav-previous > a:before { content: "\f104"; margin-right: 5px; font-family:fontawesome; }
	.commententries .nav-next > a:after { content: "\f105"; margin-left: 5px; font-family:fontawesome; }
	
	ul.commentlist li.pingback > p > a.comment-edit-link { text-decoration: underline; }
	.nocomments { border-top: 1px solid #ddd; clear: both; padding: 15px 0; }
	
	.says, .screen-reader-text { clip: rect(1px, 1px, 1px, 1px); height: 1px; overflow: hidden; position: absolute !important; width: 1px; word-wrap: normal !important; }
	
	.entry-meta-data p i:only-child { display:none; }
	
	.post-password-form label input { width: 50%; }
	
	.bypostauthor { }
	
	/*----*****---- <<  Prettyphoto >> ----*****----*/
	body div.pp_overlay { z-index:9999; }
	
	
	/*----*****---- <<  Ultimate Addon >> ----*****----*/
	.ubtn-ctn-center button, .ubtn-ctn-right button { float:none; }
	.flexslider .slides img { height:auto; }
	
	
	/*----*****---- <<  Visual Composer CSS >> ----*****----*/
	
	.vc-no-left-padding .vc_column-inner, .vc-no-left-padding.vc_column_container .vc_column-inner { padding-left: 0; }
	.vc-no-right-padding .vc_column-inner, .vc-no-right-padding.vc_column_container .vc_column-inner { padding-right: 0; }
	
	.vc-no-padding .vc_column-inner { padding-left: 0; padding-right: 0; }
	.vc-no-margin { margin-left: 0; margin-right: 0; }
	
	.side-navigation-content .container, #primary.page-with-sidebar .container, .dt-portfolio-single-details .container { max-width:100%; width:auto; }
	
	.icon-link-title .vc_column-inner, .icon-link-title .vc_column-inner .wpb_wrapper { height:100%; width:100%; }
	
	.vc_col-has-fill > .vc_column-inner, .vc_row-has-fill + .vc_row-full-width + .vc_row > .vc_column_container > .vc_column-inner, .vc_row-has-fill + .vc_row > .vc_column_container > .vc_column-inner, .vc_row-has-fill + .vc_vc_row > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner, .vc_row-has-fill + .vc_vc_row_inner > .vc_row > .vc_vc_column_inner > .vc_column_container > .vc_column-inner, .vc_row-has-fill > .vc_column_container > .vc_column-inner, .vc_row-has-fill > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner, .vc_row-has-fill > .vc_vc_column_inner > .vc_column_container > .vc_column-inner { padding-top: 0; }
	
	.vc_empty_space { clear: both; float: none; }
	.vc_custom_float { float: left; width: 100%; }
	
	.vc_row.vc_row-no-padding .wpb_column { padding-left:0px; padding-right:0px; }
	.vc_row[data-vc-full-width].dt-sc-overflow_visible { overflow:visible; }
	
	
	/*--------------------------------------------------------------
	1.13 - Default Color
	--------------------------------------------------------------*/
	

	.wp-caption { background:rgba(0, 0, 0, 0.02); border-color:rgba(0, 0, 0, 0.07); }
	
	abbr { border-color:#222222; }
	ins { color:#888888; }
	label, input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], input[type="number"], input[type="range"], input[type="date"], textarea, input.text, input[type="search"], textarea, select { color: #888888; }
	input[type="text"]::-moz-input-placeholder, input[type="text"]::-webkit-input-placeholder { color: #888888; }
	input[type="submit"], input[type="reset"], button, input[type="button"] { color:#ffffff; }
	
	label span.required { color:#ff0000; }
	
	
	input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], input[type="number"], input[type="range"], input[type="date"], textarea, input.text, input[type="search"], textarea, select, .selection-box:after, .selection-box select { background:#ffffff; }
	
	fieldset { border-color:rgba(0, 0, 0, 0.2); }
	.dt-sc-dark-bg fieldset { border-color:rgba(255, 255, 255, 0.2); }
	
	input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], input[type="number"], input[type="range"], input[type="date"], textarea, input.text, input[type="search"], select { border-color:rgba(0, 0, 0, 0.15); }

	input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="tel"]:focus, input[type="number"]:focus, input[type="range"]:focus, input[type="date"]:focus, textarea:focus, input.text:focus, input[type="search"]:focus { border-color:rgba(0, 0, 0, 0.25); }
	
	
	.selection-box:before { border-top-color:rgba(0, 0, 0, 0.15); }
	.selection-box:after { border-right-color:rgba(0, 0, 0, 0.15); }
	.selection-box:after { border-left-color:rgba(0, 0, 0, 0.15); }
	
	/*----*****---- << Separated >> --****--*/
	.dt-sc-dark-bg .dt-sc-skin-highlight .dt-sc-small-separator, .dt-sc-dark-bg .dt-sc-vertical-small-separator { background:#ffffff; }
	
	.dt-sc-single-line-separator { border-top-color:rgba(0, 0, 0, 0.2); }
	.dt-sc-down-arrow:before { border-top-color:#ffffff; }
	.dt-sc-up-arrow-bottom:before { border-bottom-color:#ffffff; }
	.dt-sc-dark-bg .dt-sc-single-line-separator { border-color:rgba(255, 255, 255, 0.2); }
	
	.dt-sc-diamond-separator:before, .dt-sc-diamond-separator:after { background:rgba(0, 0, 0, 0.1); }
	.dt-sc-dark-bg .dt-sc-diamond-separator:before, .dt-sc-dark-bg .dt-sc-diamond-separator:after { background:rgba(255, 255, 255, 0.2); } 
	

	
	
	
	/*--------------------------------------------------------------
	1.14 - IE9 and above override
	--------------------------------------------------------------*/
	@media screen and (min-width:0\0) { 
	
		.selection-box:before, .selection-box:after { background:none; border:none; }
		.selection-box select { padding-right:15px; position:relative; }
		
	}
	
	
	/*--------------------------------------------------------------
	1.15 - Responsive
	--------------------------------------------------------------*/

	
	/*----*****---- << Mobile (Landscape) >> ----*****----*/
    /* Note: Design for a width of 480px */
    @media only screen and (min-width: 480px) and (max-width: 767px) {
		
		th, td, tbody th { font-size: 12px; }
	
	}
	
	@media only screen and (max-width: 479px) {
		.commententries .nav-previous, .commententries .nav-next { width:100%; text-align:center; }
		
		/*----*****---- << PrettyPhoto >> --****--*/
		.pp_pic_holder { width: 90% !important; left: 5% !important; overflow: hidden; }		
		.pp_content { width: 98%!important; height: auto!important; }
		.pp_fade { width: 100%!important; height: 100%!important; }			
		a.pp_expand, a.pp_contract, .pp_hoverContainer, .pp_gallery { display: none!important; }			
		#pp_full_res img { width: 100%!important; height: auto!important; }
		.pp_details { width:100%!important; position:static!important; min-height:25px; }
		.pp_details a.pp_close{ right:25px; }
		div.pp_default .pp_content_container .pp_details { margin-top:15px; }
		
		/*----*****---- << Tooltip >> --****--*/
		#tiptip_content { font-size: 11px; }
		
	}
	
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (min-width: 320px) and (max-width: 479px) {
		
		/*----*****---- << Miscellaneous >> --****--*/
		th, td, tbody th { font-size: 10px; }
		th { padding: 10px 6px; }
		td, tbody th { padding: 13px 6px; }
	
	}
	
	
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 319px) {
						
		th, td, tbody th { font-size: 8px; }
		th { padding: 12px 0; }
		td, tbody th { padding: 10px 0; }
		
	}
	
	
	
