$white       : #FFFFFF;
$black       : #000000;
$text        : #4d5152;
$lgrey       : #929292;
$green       : #69be28;
$headergrey  : #434949;
$navgrey     : #4d5152;
$navhover    : #e5e5e5;

$primarycolor   : $text;
$secondarycolor : $green;