#header-wrapper { float:left; width:100%; margin:0px; padding:0px; }
#header { width:100%; margin:0px; padding:0px; float:left; position:relative; }
header#header {
    position:absolute;
    #logo {
        float:left;
        padding:15px 0!important;
        a {
            height:60px;
        }
        @media #{$small-down} {
            width:auto;
        }
    }
    .sticky-wrapper {
        padding:$primary-spacing $primary-spacing*2;
        @include transition(0.5s, all, ease-in-out);
    }
    .is-sticky {
        .main-header-wrapper {
            width:100%!important;
            padding:0 $primary-spacing*2;
            background:$white;            
            #main-menu {
                ul.menu {
                    & > li {
                        a {
                            font-weight:normal;
                            &:hover {
                                color:$secondarycolor!important;
                            }
                        } 
                        & > ul {
                            & > li {
                                a {
                                    &:hover {
                                        color:$white!important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        #logo {
            a {
                img.normal_logo {
                    display:none;
                }
                img.darkbg_logo {
                    display:block;
                }
            }
        }
    }
    #main-menu {
        ul.menu {

            > li {
                color:$white;
                @include transition(0.5, all, ease-in-out);
                span.nolink-menu {
                    @include transition(0.5, all, ease-in-out);
                    &:hover {
                        color:$secondarycolor;
                    }
                }
                > a {
                    color:$white;
                    font-family: 'Lato', sans-serif;
                    &:hover {
                        color:$secondarycolor;
                    }
                }
            }
        }
    }
}
@media #{$small-down} {
    body {
        #header {
            #main-menu {
                ul.menu {
                    & > li {
                        & > span.nolink-menu {
                            color:$primarycolor;
                        }
                        & > a {
                            color:$primarycolor;
                        }
                    }
                }
            }
        }
    }
}
#page-header {
    position:relative;
    padding:25px;
    img {
        width:100%;
    }
    #page-description {
        position:absolute;
        top:50%;
        transform:translateY(-50%);
        max-width:40%;
        h1 {
            color:$white;
            text-transform: uppercase;
            font-size:60px;
            line-height:80px;
        }
        p {
            font-size:22px;
            font-weight:bold;
            line-height:30px;
            margin-bottom:50px;
            color:$white;
        }
        .button-wrapper {
            display:inline-block;
            width: 100%;
            .button {
                display:inline-block;
                border:3px solid $white;
                padding:20px 40px;
                background:transparent;
                color:$white;
                font-size:18px;
                font-weight: bold;
                text-transform:uppercase;
                @include border-radius(5px);
                @include transition(0.5s, all, ease-in-out);
                &:hover {
                    background:$white;
                    color:$primarycolor;
                }
            }
        }
        &.alignLeft {
            left:100px;
            h1,h2,h3,h4,h5,h6,p {
                text-align: left;
            }        
            .button-wrapper {
                text-align: left;
            }
        }
        &.alignCenter {
            left:50%;
            transform:translateX(-50%);
            h1,h2,h3,h4,h5,h6,p {
                text-align: center;
            }
            .button-wrapper {
                text-align: center;
            }
        }
        &.alignRight {
            right:100px;
            h1,h2,h3,h4,h5,h6,p {
                text-align: right;
            }            
            .button-wrapper {
                text-align: right;
            }
        }   
        @media #{$medium-down} {
            h1 {
                font-size:30px;
                line-height:40px;
            }
        }
        @media #{$small-down} {
            position:relative;
            top:auto;
            transform:translateY(0);
            padding:25px;
            max-width:100%;
            background:$secondarycolor;
            &.alignLeft {
                left:auto;
            }
            &.alignRight {
                right:auto;
            }
            h1,h2,h3,h4,h5,h6,p {
                color:$white;
                span {
                    color:$white!important;
                }
            }
            h1 {
                font-size:24px;
                line-height:30px;
            }
            h3 {
                margin-bottom:0;
            }
            p {
                color:$white;
            }
        }
    }

}

/*--------------------------------------------------------------
        1.0 - Transition
        --------------------------------------------------------------*/
.menu-icons-wrapper.rounded-icons .search a span, .menu-icons-wrapper.rounded-icons .cart a span, .menu-icons-wrapper .search a span, .menu-icons-wrapper .cart a span, #main-menu ul li.menu-item-simple-parent ul li a .fa, .megamenu-child-container ul.sub-menu > li > ul li a .fa,
#main-menu .megamenu-child-container > ul.sub-menu > li > a .menu-item-description, .dt-sc-icon-box.type7 .icon-wrapper:before, .dt-sc-image-caption.type3 .dt-sc-image-wrapper .icon-wrapper, .dt-sc-image-caption.type3, .dt-sc-icon-box .large-icon, .dt-sc-icon-box.type5 .icon-wrapper:before, .dt-cross-merge-overlay-bg figure img, .dt-sc-icon-box.type3.dt-sc-rounded .icon-wrapper span, .dt-sc-contact-info.type2 span, .dt-sc-contact-info.type5, .dt-sc-popular-procedures .image img, .dt-sc-popular-procedures .details, .dt-sc-icon-box.type5 .icon-wrapper span, .dt-sc-icon-box.type10 .icon-wrapper:after, .dt-sc-icon-box.type14, .dt-sc-image-caption.type2 .dt-sc-image-content, .dt-sc-image-caption.type5, .dt-sc-image-flip img, .dt-sc-counter.type4 .dt-sc-counter-number, .dt-sc-counter.type4 .dt-sc-couter-icon-holder, .dt-sc-counter.type6 .dt-sc-couter-icon-holder:before, .dt-sc-counter.type6 h4, .dt-sc-counter.type6 .dt-sc-counter-number, .dt-sc-counter.type5:after, .dt-sc-counter.type5:before, .dt-sc-counter.type2 .dt-sc-couter-icon-holder, .dt-sc-counter.type1 .icon-wrapper span, .dt-sc-pr-tb-col .dt-sc-tb-header, .dt-sc-pr-tb-col .dt-sc-tb-title h5, .dt-sc-pr-tb-col .dt-sc-tb-title p, .dt-sc-pr-tb-col .dt-sc-price h6, .dt-sc-pr-tb-col.minimal .icon-wrapper:before, .dt-sc-pr-tb-col.minimal .dt-sc-price, .dt-sc-pr-tb-col.type2 .dt-sc-price:after, .dt-sc-pr-tb-col.type2 .dt-sc-price:before, .dt-sc-pr-tb-col.type2 .dt-sc-tb-header .dt-sc-tb-title:before, .dt-sc-team.team_rounded_border.rounded:hover .dt-sc-team-thumb:before, .dt-sc-team.rounded.zoom-in-hover .dt-sc-team-thumb, .dt-sc-team.hide-social-show-on-hover .dt-sc-team-social, .dt-sc-team .dt-sc-team-details, .dt-sc-team .dt-sc-team-details, .dt-sc-team, .dt-sc-team h4, .dt-sc-team .dt-sc-team-details h5, .dt-sc-team.rounded .dt-sc-team-thumb:after, .dt-sc-team.hide-social-role-show-on-hover .dt-sc-team-social, .dt-sc-team.hide-social-role-show-on-hover .dt-sc-team-social li, .dt-sc-team.type2 .dt-sc-team-thumb .dt-sc-team-thumb-overlay, .attorney-contact-form span.wpcf7-form-control-wrap:after, .dt-sc-icon-box.type5 .icon-wrapper img, .dt-sc-triangle-content:before { -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }


/*--------------------------------------------------------------
2.0 - Logo
--------------------------------------------------------------*/
#logo { display: flex; align-items: center; flex-grow: 1; }
#logo a { display:block; overflow:hidden; float:left; padding:0px; margin:0px; height: 35px; }
#logo a img { display: block; height: inherit;  overflow: hidden; }
#logo a .retina_logo { display:none; }


/*----*****---- << 2.1. Darkbg Logo >> ----*****----*/
#logo a .darkbg_logo, .dt-sc-dark-bg #logo a .normal_logo { display:none; }
.dt-sc-dark-bg #logo a .darkbg_logo { display:block; }

.is-sticky #logo a {  height:30px; }
.is-sticky #logo a img { max-height:100%; width:auto; height:auto; max-width:100%; }


/*----*****---- << 2.2. Logo Title >> ----*****----*/
#logo .logo-title { margin-top: 16px; }
#logo .logo-title > h1 { line-height: normal; margin-bottom: 0; font-weight:bold; }
#logo .logo-title h2 { font-size: 20px; display:block; clear:both; }
#logo .logo-title > h1 a { height: auto; line-height: normal; width: auto; padding:0; }


/*----*****---- << 2.7. Overlay Header >> ----*****----*/
.overlay-header #logo a { padding: 20px 0px; height: auto; }


@media screen and (-webkit-min-device-pixel-ratio:0) { 
    ::i-block-chrome, .main-header, #logo, #logo a { display: -webkit-box;  -webkit-box-align: center; -webkit-box-flex: 1; position:relative; }
    ::i-block-chrome, .left-header #header-wrapper #logo a, ::i-block-chrome, .overlay-header .main-header, .overlay-header #logo, .overlay-header #logo a { display:block; }

}




.header-align-left #main-menu > ul.menu > li > a, .header-align-center #main-menu > ul.menu > li > a { padding: 0 20px; font-weight: 400; }



.header-align-left .header-right .dt-sc-vertical-small-separator, .header-align-center .header-right .dt-sc-vertical-small-separator { height: 26px; background: #d5dce4; }

.header-align-left .dt-sc-dark-bg .header-right .text-with-icon, .header-align-center .dt-sc-dark-bg .header-right .text-with-icon { color: #fff; }
.header-align-left.transparent-header .dt-sc-dark-bg .header-right .text-with-icon, .header-align-center.transparent-header .dt-sc-dark-bg .header-right .text-with-icon { color: #474747; }

.header-align-left.semi-transparent-header #menu-wrapper-sticky-wrapper #menu-wrapper, .header-align-left.semi-transparent-header #menu-wrapper-sticky-wrapper #menu-wrapper:after, .header-align-left.semi-transparent-header #menu-wrapper-sticky-wrapper #menu-wrapper:before, .header-align-center.semi-transparent-header #menu-wrapper-sticky-wrapper #menu-wrapper, .header-align-center.semi-transparent-header #menu-wrapper-sticky-wrapper #menu-wrapper:after, .header-align-center.semi-transparent-header #menu-wrapper-sticky-wrapper #menu-wrapper:before { background: transparent; }

.header-align-left .menu-with-slanting-splitter > #main-menu > ul.menu > li:first-child > a { padding-left: 0; }


/*--------------------------------------------------------------
4.0 - Header
--------------------------------------------------------------*/



.main-header-wrapper { position:absolute; left:0; top:0; width:100%; }
.main-header { display:flex; float:left; width:100%; padding:0px; margin:0px; position:relative; }

.standard-header .main-header-wrapper { position:inherit; top:0px; float:left; clear:both; width:100%; }

/*.layout-boxed.standard-header .main-header-wrapper { width:1250px; }*/
.layout-boxed.left-header .main-header-wrapper { width:100%; }

.header-on-slider.boxed-header .main-header-wrapper { top:50px; }


.transparent-header .main-header, .transparent-header .main-header-wrapper, .left-header.transparent-header .main-header, .left-header.transparent-header .main-header-wrapper { background:none; }



.fullwidth-menu-header .menu-wrapper { width:100%; clear:both; text-align:center; border-top:1px solid; border-bottom:1px solid; margin-left:0px; float:left; }
.fullwidth-menu-header .dt-sc-dark-bg .menu-wrapper { border-bottom-color: rgba(255,255,255,0.3); border-top-color: rgba(255,255,255,0.3); }



.main-header .menu-icons-wrapper #searchform { margin:0px; }
#searchform .dt-search-icon { display:none; }


/*----*****---- << 4.6. Menu Active Style >> ----*****----*/
#main-menu, #main-menu ul.menu { float:right; margin:0px; padding:0px; }
#main-menu ul.menu li { float:left; display:inline; margin:0px; padding:0px; }
#main-menu > ul.menu > li > a { float:left; padding:0px 20px; line-height:90px; font-size:16px;letter-spacing:0.5px;
                                @media #{$medium-down} {
                                    font-size:14px;
                                    padding:0 15px;
                                }
}
.menu-active-highlight-grey #main-menu ul.menu > li { padding:0px 20px; }
.menu-active-highlight-grey #main-menu ul.menu > li > a { padding:0px; position:relative; }
.menu-active-highlight-grey #main-menu ul.menu > li > a:before { content:""; position:absolute; height:2px; width:100%; left:0px; bottom:0px; }

.left-header .menu-active-highlight-grey #main-menu ul.menu > li { padding:0; }
.left-header #main-menu, .left-header #main-menu ul.menu { width:100%; }
.left-header .menu-with-slanting-splitter #main-menu ul.menu > li:before { content:none; }
.left-header #main-menu ul.menu > li > .megamenu-child-container { overflow-y: scroll; height: 400px; }


.left-header .vc_row.vc_row-no-padding { left: 0px !important; margin: 0 auto; width: 100% !important; }

.left-header .menu-active-with-icon.menu-active-highlight #main-menu > ul.menu > li > a:before, .left-header .menu-active-with-icon.menu-active-highlight #main-menu > ul.menu > li > a:after { content:none; }

.left-header .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current_page_item > a:before, .left-header .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current_page_ancestor > a:before, .left-header .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current-menu-item > a:before, .left-header .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current-menu-ancestor > a:before { top:0; bottom:0; margin:auto; transform:rotate(-90deg); right:-26px;  -webkit-transform:rotate(-90deg); -ms-transform:rotate(-90deg); left:auto; }

.menu-active-with-double-border #main-menu ul.menu > li > a { border-bottom:4px double transparent; }
.left-header .menu-active-with-double-border #main-menu ul.menu > li > a { border-bottom-color:transparent; }
.left-header .menu-active-with-double-border #main-menu > ul.menu > li.current-menu-item > a { border-top-color: rgba(0,0,0,0.09); }

@-webkit-keyframes bounceInLeftLow{0%{opacity:0;-webkit-transform:translateX(-100px)}60%{opacity:1;-webkit-transform:translateX(30px)}80%{-webkit-transform:translateX(-10px)}100%{-webkit-transform:translateX(0)}}@-moz-keyframes bounceInLeft{0%{opacity:0;-moz-transform:translateX(-100px)}60%{opacity:1;-moz-transform:translateX(30px)}80%{-moz-transform:translateX(-10px)}100%{-moz-transform:translateX(0)}}@-o-keyframes bounceInLeft{0%{opacity:0;-o-transform:translateX(-100px)}60%{opacity:1;-o-transform:translateX(30px)}80%{-o-transform:translateX(-10px)}100%{-o-transform:translateX(0)}}@keyframes bounceInLeft{0%{opacity:0;transform:translateX(-100px)}60%{opacity:1;transform:translateX(30px)}80%{transform:translateX(-10px)}100%{transform:translateX(0)}}.animate.bounceInLeft{-webkit-animation-name:bounceInLeft;-moz-animation-name:bounceInLeft;-o-animation-name:bounceInLeft;animation-name:bounceInLeft;visibility:visible!important}
@-webkit-keyframes bounceInRightLow{0%{opacity:0;-webkit-transform:translateX(100px)}60%{opacity:1;-webkit-transform:translateX(-30px)}80%{-webkit-transform:translateX(10px)}100%{-webkit-transform:translateX(0)}}@-moz-keyframes bounceInRight{0%{opacity:0;-moz-transform:translateX(100px)}60%{opacity:1;-moz-transform:translateX(-30px)}80%{-moz-transform:translateX(10px)}100%{-moz-transform:translateX(0)}}@-o-keyframes bounceInRight{0%{opacity:0;-o-transform:translateX(100px)}60%{opacity:1;-o-transform:translateX(-30px)}80%{-o-transform:translateX(10px)}100%{-o-transform:translateX(0)}}@keyframes bounceInRight{0%{opacity:0;transform:translateX(100px)}60%{opacity:1;transform:translateX(-30px)}80%{transform:translateX(10px)}100%{transform:translateX(0)}}.animate.bounceInRight{-webkit-animation-name:bounceInRight;-moz-animation-name:bounceInRight;-o-animation-name:bounceInRight;animation-name:bounceInRight;visibility:visible!important}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
    /* Safari */
    ::i-block-chrome,.menu-active-highlight-with-arrow #main-menu > ul.menu > li.current_page_item > a:before, .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current_page_ancestor > a:before, .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current-menu-item > a:before, .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current-menu-ancestor > a:before {
        border-left-width:34px; border-right-width:34px;
    }
}





/*--------------------------------------------------------------
5.0 - Default Color
--------------------------------------------------------------*/
#main-menu ul.menu > li > a { color:#000000; }
.dt-sc-dark-bg #main-menu ul.menu > li > a { color:#ffffff; }

.menu-active-highlight #main-menu > ul.menu > li.current_page_item > a, .menu-active-highlight #main-menu > ul.menu > li.current_page_ancestor > a, .menu-active-highlight #main-menu > ul.menu > li.current-menu-item > a, .menu-active-highlight #main-menu > ul.menu > li.current-menu-ancestor > a, .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current_page_item > a, .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current_page_ancestor > a, .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current-menu-item > a, .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current-menu-ancestor > a,  .left-header .menu-active-highlight #main-menu > ul.menu > li.current_page_item > a, .left-header .menu-active-highlight #main-menu > ul.menu > li.current_page_ancestor > a, .left-header .menu-active-highlight #main-menu > ul.menu > li.current-menu-item > a, .left-header .menu-active-highlight #main-menu > ul.menu > li.current-menu-ancestor > a, .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current_page_item:hover > a, .left-header .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current_page_item > a, .left-header .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current_page_ancestor > a, .left-header .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current-menu-item > a, .left-header .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current-menu-ancestor > a { color:#ffffff; }

.menu-active-highlight-grey #main-menu > ul.menu > li.current_page_item, .menu-active-highlight-grey #main-menu > ul.menu > li.current_page_ancestor, .menu-active-highlight-grey #main-menu > ul.menu > li.current-menu-item, .menu-active-highlight-grey #main-menu > ul.menu > li.current-menu-ancestor { background:#eeeeee; }

.menu-active-with-icon #main-menu > ul.menu > li.current_page_item > a:before, .menu-active-with-icon #main-menu > ul.menu > li.current_page_ancestor > a:before, .menu-active-with-icon #main-menu > ul.menu > li.current-menu-item > a:before, .menu-active-with-icon #main-menu > ul.menu > li.current-menu-ancestor > a:before, .menu-active-with-icon #main-menu > ul.menu > li.current_page_item > a:after, .menu-active-with-icon #main-menu > ul.menu > li.current_page_ancestor > a:after, .menu-active-with-icon #main-menu > ul.menu > li.current-menu-item > a:after, .menu-active-with-icon #main-menu > ul.menu > li.current-menu-ancestor > a:after { background:#000000; }

.menu-active-highlight.menu-active-with-icon #main-menu > ul.menu > li.current_page_item > a:before, .menu-active-highlight.menu-active-with-icon #main-menu > ul.menu > li.current_page_ancestor > a:before, .menu-active-highlight.menu-active-with-icon #main-menu > ul.menu > li.current-menu-item > a:before, .menu-active-highlight.menu-active-with-icon #main-menu > ul.menu > li.current-menu-ancestor > a:before,  .menu-active-highlight.menu-active-with-icon #main-menu > ul.menu > li.current_page_item > a:after, .menu-active-highlight.menu-active-with-icon #main-menu > ul.menu > li.current_page_ancestor > a:after, .menu-active-highlight.menu-active-with-icon #main-menu > ul.menu > li.current-menu-item > a:after, .menu-active-highlight.menu-active-with-icon #main-menu > ul.menu > li.current-menu-ancestor > a:after { background:#ffffff; }

.menu-with-small-splitter #main-menu ul.menu > li:before { background:rgba(0, 0, 0, 0.1); }	
.menu-with-slanting-splitter #main-menu ul.menu > li:before { background:rgba(0, 0, 0, 0.8);  }	
.left-header #main-menu > ul.menu > li > a, .left-header #main-menu > ul.menu > li:last-child > a { border-color:rgba(0, 0, 0, 0.08); }



/*--------------------------------------------------------------
6.0 - Sticky Header
--------------------------------------------------------------*/

.sticky-wrapper { width:100%; z-index:9999; float:left; position:relative; }
.sticky-wrapper .main-header-wrapper, .main-header-wrapper { z-index:9999; }

.is-sticky #main-menu > ul.menu > li > a { line-height:90px; }
.is-sticky .menu-active-with-double-border #main-menu ul.menu > li > a { line-height:66px; }

.is-sticky .menu-icons-wrapper { height:50px; }
.is-sticky .menu-icons-wrapper .search a span, .is-sticky .menu-icons-wrapper .cart a span { line-height:50px; }

#main-menu ul.menu > li > a > i { margin-right:5px; }

.header-on-slider .sticky-wrapper { position:absolute; }
.fullwidth-menu-header.header-on-slider .sticky-wrapper { position: inherit; }
.header-on-slider .is-sticky .main-header-wrapper { height:70px; }

#header-wrapper.dt-sc-dark-bg .is-sticky .main-header-wrapper { background:rgba(0, 0, 0, 0.9); border:none; }
.two-color-header #header-wrapper.dt-sc-dark-bg .is-sticky .main-header-wrapper { background:transparent; }

.boxed-header .is-sticky .main-header, .boxed-header.semi-transparent-header .is-sticky .main-header { background:none; }	

.is-sticky .menu-active-with-icon #main-menu > ul.menu > li.current_page_item > a:before, .is-sticky .menu-active-with-icon #main-menu > ul.menu > li.current_page_ancestor > a:before, .is-sticky .menu-active-with-icon #main-menu > ul.menu > li.current-menu-item > a:before, .is-sticky .menu-active-with-icon #main-menu > ul.menu > li.current-menu-ancestor > a:before { bottom:10px; }
.is-sticky .menu-active-with-icon #main-menu > ul.menu > li.current_page_item > a:after, .is-sticky .menu-active-with-icon #main-menu > ul.menu > li.current_page_ancestor > a:after, .is-sticky .menu-active-with-icon #main-menu > ul.menu > li.current-menu-item > a:after, .is-sticky .menu-active-with-icon #main-menu > ul.menu > li.current-menu-ancestor > a:after { bottom:5px; }

.split-header.transparent-header .is-sticky #main-menu ul.menu > li > a { line-height:66px; }

/*------------------------------------No link menu style--------------------------------------------*/

.menu-active-highlight-grey #main-menu ul.menu > li > span.nolink-menu { padding: 0px;position: relative; }
#main-menu ul.menu > li > span.nolink-menu { font-family: 'Lato', sans-serif; }
#main-menu ul.menu > li > span.nolink-menu, .left-header #main-menu > ul.menu > li > span.nolink-menu { 
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.5px;
    @media #{$medium-down} {
        font-size:14px;
    }
}
#main-menu ul.menu > li > span.nolink-menu { color: #FFF; }
#main-menu > ul.menu > li > span.nolink-menu { float: left;padding: 0px 20px;line-height: 90px;letter-spacing: 0.5px; }
.is-sticky #main-menu > ul.menu > li > span.nolink-menu { line-height: 90px; color:#000; }

/*--------------------------------------------------------------------------------*/


/*--------------------------------------------------------------
7.0 - Simple Drop Down Menu
--------------------------------------------------------------*/
#main-menu ul.menu > li { position:relative; }

#main-menu ul li.menu-item-simple-parent ul, #main-menu ul li.menu-item-simple-parent ul li ul, #main-menu ul li.menu-item-simple-parent ul li ul li ul { display:none; text-align:left; z-index:9999; }

#main-menu ul li.menu-item-simple-parent ul { width:260px; background:#ffffff; padding:10px 0px 10px; position:absolute; top:100%; left:0px; float:left; margin-top:0; border: 1px solid; border-top-width: 2px; }

#main-menu ul li.menu-item-simple-parent ul li { display:block; padding:0px 15px; position:relative; width:100%; } 
#main-menu ul li.menu-item-simple-parent ul li a { color:#000000; position:relative; padding:10px 0px 10px 10px; font-size:14px; line-height:24px; display:block; }
#main-menu ul li.menu-item-simple-parent ul li:last-child > a { border:none; }

.main-header #main-menu ul.menu li.menu-item-simple-parent ul li:hover > a { color: #fff; padding-left: 15px; }
.main-header #main-menu ul.menu li.menu-item-simple-parent ul > li.current_page_item > a, .main-header #main-menu ul.menu li.menu-item-simple-parent ul > li.current-menuitem > a { background: #000; padding-left: 15px;     color: #fff; }

#main-menu ul li.menu-item-simple-parent ul li ul { left:100%; top:0px; padding-top:15px; }

#main-menu ul li.menu-item-simple-parent:last-child ul, #main-menu ul li.menu-item-simple-parent:nth-child(6) ul, #main-menu ul li.menu-item-simple-parent:nth-child(7) ul { right:0px; left:auto; }
#main-menu ul li.menu-item-simple-parent:last-child ul li ul, #main-menu ul li.menu-item-simple-parent:nth-child(6) ul li ul, #main-menu ul li.menu-item-simple-parent:nth-child(7) ul li ul { right:100%; left:auto; }

#main-menu ul li.menu-item-simple-parent ul li a .fa { margin-right:10px; position:relative; top:-1px; }

#main-menu ul li.menu-item-simple-parent.dt-sc-dark-bg ul li a, #main-menu ul li.menu-item-simple-parent.dt-sc-dark-bg ul li a .fa { color:#ffffff; }



/*--------------------------------------------------------------
9.0 - Mobile Menu
--------------------------------------------------------------*/

#main-menu ul.menu li a.dt-menu-expand { border:none !important; cursor:pointer; display: none; font-family:FontAwesome; font-weight:normal; font-size:20px; height:38px; line-height:38px; margin:auto; padding: 0 !important; position:absolute !important; right: 0; top: 0; text-align:center; width:38px !important; }
.header-align-left.fullwidth-menu-header .is-sticky #main-menu ul.menu > li > a.dt-menu-expand { display:none; }
#main-menu ul li.menu-item-simple-parent.menu-links-with-bg ul > li > a.dt-menu-expand, #main-menu ul li.menu-item-simple-parent.menu-links-with-arrow.single ul > li > a.dt-menu-expand:before { display:none; }
#main-menu .menu-item-megamenu-parent.menu-title-with-bg a.dt-menu-expand { height:44px; line-height:44px; margin:0px; }
#main-menu ul.menu li a.dt-menu-expand.dt-mean-clicked { font-family:monospace; }


#main-menu ul li.menu-item-simple-parent.with-box-shadow ul, #main-menu .menu-item-megamenu-parent.with-box-shadow .megamenu-child-container { -webkit-box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.1); -moz-box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.1); box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.1); }



/*----*****---- << Mobile (Landscape) >> ----*****----*/	

/* Common Styles for the devices below 767px width */
@media only screen and (max-width: 767px) {

    #logo { text-align:center; width:100%; display:inline-block; padding:20px 0; }
    #logo a { float:none; }
    #logo img { margin:0 auto; }
    .main-header { display:block; }
    .dt-sc-dark-bg #logo a .darkbg_logo { display: none; }
    .dt-sc-dark-bg #logo a .normal_logo { display: block; }


    .left-header .main-header-wrapper { padding-bottom:0; }
    .left-header-footer:empty { display: none; }
    .left-header #logo { margin: 0; padding-left: 0; }

    .left-header #main { padding-left:0; }
    .left-header #main-menu ul.menu > li > .megamenu-child-container { left:0; }


    .left-header #main-menu ul.menu li a.dt-menu-expand { font-size:20px; text-align:center; }
    .left-header.left-header-boxed #main-menu > ul.menu > li > a { text-align:left; }
    .left-header.left-header-boxed #main-menu > ul.menu > li > a.dt-menu-expand { text-align:center; }
    .left-header #main-menu ul.menu > li > .megamenu-child-container { height:auto; overflow:inherit; }

    /*----*****---- << Mobile Menu >> ----*****----*/		
    .dt-menu-toggle { display:block; }
    .main-header-wrapper .menu-wrapper { background:transparent; }

    .overlay-header .dt-menu-toggle { display:none; }
    .overlay-header #main-menu { background:transparent; }
    .overlay-header #main-menu > ul.menu { display:block; }

    #main-menu > ul.menu, .header-align-center #main-menu ul.menu { display:none; width:100%; }
    .menu-wrapper #main-menu ul li.menu-item-simple-parent ul, .menu-wrapper #main-menu .megamenu-child-container { border:0; }

    #main-menu ul li.menu-item-simple-parent:last-child ul li ul, #main-menu ul li.menu-item-simple-parent:nth-child(6) ul li ul, #main-menu ul li.menu-item-simple-parent:nth-child(7) ul li ul { right:auto; }

    #main-menu { width:100%; }
    #main-menu ul.menu > li > .megamenu-child-container { display:block; padding:0px; }
    #main-menu .megamenu-child-container ul.sub-menu { display:none; padding-top:10px; }
    #main-menu ul.menu > li > .megamenu-child-container > .dt-menu-expand { display:none !important; }

    .menu-wrapper { float:left; width:100%; margin:0px; clear:both; }	
    #main-menu { position:relative; z-index:9999; }	

    #main-menu ul.menu li { width:100%;  }
    #main-menu > ul.menu > li > a { line-height:38px; padding:0px 15px; width:100%;  }
    .header-align-center.fullwidth-menu-header #main-menu ul.menu > li > a { line-height:38px; }

    .split-header #main-menu .menu-left, .split-header #main-menu .menu-right { width:100%; float:left; text-align:left; }
    .split-header #main-menu ul.menu > li { text-align:left; }

    .left-header .main-header-wrapper #main-menu ul li.menu-item-simple-parent ul { left:0; }

    #main-menu ul.menu li { position:relative; }
    #main-menu ul.menu li a.dt-menu-expand, .header-align-left.fullwidth-menu-header .is-sticky #main-menu ul.menu > li > a.dt-menu-expand,#main-menu ul li.menu-item-simple-parent.menu-links-with-bg ul > li > a.dt-menu-expand { display:block; }

    #main-menu ul.menu > li > .megamenu-child-container, #main-menu ul li.menu-item-simple-parent ul, #main-menu ul li.menu-item-simple-parent ul li ul { top:0px; margin:0px; position:inherit; left:0px; width:100%;  }	

    /*----*****---- << New style >> ----*****----*/
    .menu-with-slanting-splitter #main-menu ul.menu > li:before, .menu-active-highlight-grey #main-menu ul.menu > li > a:before { display:none; }
    #main-menu .megamenu-child-container.menu-hasbg, #main-menu ul li.menu-item-simple-parent ul, #main-menu .megamenu-child-container { background-image:none !important; }
    #main-menu ul li.menu-item-simple-parent ul, #main-menu .megamenu-child-container { border-radius:0; }
    .left-header #main-menu ul.menu.menu-toggle-open { padding:0; }
    .split-header #main-menu .menu-right.menu-toggle-open { padding-top:0; }
    .split-header #main-menu .menu-left.menu-toggle-open { padding-bottom:0; }
    .menu-active-highlight-grey #main-menu ul.menu > li, .split-header.transparent-header #main-menu ul.menu > li { padding:0; }
    .menu-active-highlight-grey #main-menu ul.menu > li > a, .split-header.transparent-header #main-menu ul.menu > li > a { padding-left:15px; padding-right:15px; }
    #main-menu ul li.menu-item-simple-parent ul, #main-menu ul li.menu-item-simple-parent ul li ul { padding:0; }

    #main-menu ul li.menu-item-simple-parent.with-box-shadow ul, #main-menu .menu-item-megamenu-parent.with-box-shadow .megamenu-child-container { box-shadow:none; }
    #main-menu ul li.menu-item-simple-parent ul li { padding:0px 0px 0px 15px; }
    #main-menu ul li.menu-item-simple-parent ul li li li { padding:0; }
    #main-menu .menu-item-megamenu-parent .megamenu-child-container > ul.sub-menu > li > a, #main-menu .menu-item-megamenu-parent .megamenu-child-container > ul.sub-menu > li > .nolink-menu, #main-menu .menu-item-megamenu-parent.menu-links-with-border .megamenu-child-container ul.sub-menu > li > ul > li > a, #main-menu ul li.menu-item-simple-parent.menu-links-with-border ul > li > a { border:0; }
    #main-menu .menu-item-megamenu-parent .megamenu-child-container > ul.sub-menu > li > .nolink-menu { padding-bottom:0; }
    #main-menu .menu-item-megamenu-parent.menu-title-with-bg .megamenu-child-container > ul.sub-menu > li > a, #main-menu .menu-item-megamenu-parent.menu-title-with-bg .megamenu-child-container > ul.sub-menu > li > .nolink-menu, #main-menu .megamenu-child-container ul.sub-menu > li > ul li a { padding-top:0; padding-bottom:0; }

    #main-menu ul li.menu-item-simple-parent ul, #main-menu .megamenu-child-container { box-shadow:none; }
    #main-menu .menu-item-megamenu-parent .megamenu-child-container ul.sub-menu > li > ul > li > a:hover, #main-menu ul li.menu-item-simple-parent ul > li > a:hover { border:none; }
    #main-menu .menu-item-megamenu-parent .megamenu-child-container ul.sub-menu > li > ul > li > a, #main-menu ul li.menu-item-simple-parent ul > li > a, #main-menu ul li.menu-item-simple-parent ul > li:last-child > a { border:0; }
    #main-menu .megamenu-child-container > ul.sub-menu > li > a, #main-menu .megamenu-child-container > ul.sub-menu > li > .nolink-menu { font-weight:normal; text-transform:capitalize; }
    #main-menu ul li.menu-item-simple-parent ul li a { padding-left:15px; }
    #main-menu .menu-item-megamenu-parent .megamenu-child-container > ul.sub-menu > li > a:after, #main-menu .menu-item-megamenu-parent .megamenu-child-container > ul.sub-menu > li > a:before { content:none; }
    #main-menu ul li.menu-item-simple-parent.menu-links-with-arrow.double ul > li > a.dt-menu-expand::before, #main-menu ul.menu > li.menu-item-has-children:hover > a::before { content:none; }
    #main-menu .menu-item-megamenu-parent a.dt-menu-expand, #main-menu ul.menu li a.dt-menu-expand { line-height:44px; height:44px; }
    .left-header #main-menu ul.menu li a.dt-menu-expand { line-height:46px; height:46px; }

    .boxed-header .main-header, .boxed-header .dt-sc-dark-bg .main-header, .main-header-wrapper, .fullwidth-header .main-header-wrapper, .left-header .main-header-wrapper, .left-header .main-header, .two-color-header .main-header-wrapper:before, .header-on-slider.transparent-header .is-sticky .main-header-wrapper, .left-header .dt-sc-dark-bg .main-header-wrapper, .left-header .dt-sc-dark-bg .main-header, .two-color-header .main-header-wrapper:before, .dt-sc-dark-bg .main-header-wrapper { background:none !important; }

    .menu-active-highlight.menu-active-with-icon #main-menu > ul.menu > li.current_page_item > a:before, .menu-active-highlight.menu-active-with-icon #main-menu > ul.menu > li.current_page_ancestor > a:before, .menu-active-highlight.menu-active-with-icon #main-menu > ul.menu > li.current-menu-item > a:before, .menu-active-highlight.menu-active-with-icon #main-menu > ul.menu > li.current-menu-ancestor > a:before, .menu-active-highlight.menu-active-with-icon #main-menu > ul.menu > li.current_page_item > a:after, .menu-active-highlight.menu-active-with-icon #main-menu > ul.menu > li.current_page_ancestor > a:after, .menu-active-highlight.menu-active-with-icon #main-menu > ul.menu > li.current-menu-item > a:after, .menu-active-highlight.menu-active-with-icon #main-menu > ul.menu > li.current-menu-ancestor > a:after { display:none; }

    #main-menu .menu-item-widget-area-container { margin:0; }

    .left-header #main-menu .megamenu-child-container > ul.sub-menu > li, .split-header #main-menu .megamenu-child-container > ul.sub-menu > li { padding: 0px 35px; }
    .left-header #main-menu ul li.menu-item-simple-parent ul li, .split-header #main-menu ul li.menu-item-simple-parent ul li { padding: 0px 0px 0px 25px; }
    .left-header #main-menu > ul.menu > li > a { padding-left:15px; padding-right:15px; }
    .overlay-header .dt-sc-dark-bg #main-menu { background:none; }

    .left-header .dt-sc-dark-bg ul.menu li ul, .left-header .dt-sc-dark-bg ul.menu li h3, .left-header .dt-sc-dark-bg #main-menu .menu-item-widget-area-container .widget ul li > a { color:#fff; }		

    /** New style ends */

    .menu-wrapper #main-menu ul li.menu-item-simple-parent ul, .menu-wrapper #main-menu .megamenu-child-container { border:none; }

    .menu-active-highlight-grey #main-menu > ul.menu > li.current_page_item, .menu-active-highlight-grey #main-menu > ul.menu > li.current_page_ancestor, .menu-active-highlight-grey #main-menu > ul.menu > li.current-menu-item, .menu-active-highlight-grey #main-menu > ul.menu > li.current-menu-ancestor { background:none; }
    .menu-active-highlight-grey #main-menu > ul.menu > li.current_page_item > a:before, .menu-active-highlight-grey #main-menu > ul.menu > li.current_page_ancestor > a:before, .menu-active-highlight-grey #main-menu > ul.menu > li.current-menu-item > a:before, .menu-active-highlight-grey #main-menu > ul.menu > li.current-menu-ancestor > a:before { background:none; }

    .menu-active-with-two-border #main-menu > ul.menu > li.current_page_item > a:before, .menu-active-with-two-border #main-menu > ul.menu > li.current_page_ancestor > a:before, .menu-active-with-two-border #main-menu > ul.menu > li.current-menu-item > a:before, .menu-active-with-two-border #main-menu > ul.menu > li.current-menu-ancestor > a:before, .menu-active-with-two-border #main-menu > ul.menu > li.current_page_item > a:after, .menu-active-with-two-border #main-menu > ul.menu > li.current_page_ancestor > a:after, .menu-active-with-two-border #main-menu > ul.menu > li.current-menu-item > a:after, .menu-active-with-two-border #main-menu > ul.menu > li.current-menu-ancestor > a:after { display:none; }

    .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current_page_item > a:before, .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current_page_ancestor > a:before, .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current-menu-item > a:before, .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current-menu-ancestor > a:before { border:none; }

    .menu-active-highlight.menu-active-with-icon #main-menu > ul.menu > li.current_page_item > a:before, .menu-active-highlight.menu-active-with-icon #main-menu > ul.menu > li.current_page_ancestor > a:before, .menu-active-highlight.menu-active-with-icon #main-menu > ul.menu > li.current-menu-item > a:before, .menu-active-highlight.menu-active-with-icon #main-menu > ul.menu > li.current-menu-ancestor > a:before, .menu-active-highlight.menu-active-with-icon #main-menu > ul.menu > li.current_page_item > a:after, .menu-active-highlight.menu-active-with-icon #main-menu > ul.menu > li.current_page_ancestor > a:after, .menu-active-highlight.menu-active-with-icon #main-menu > ul.menu > li.current-menu-item > a:after, .menu-active-highlight.menu-active-with-icon #main-menu > ul.menu > li.current-menu-ancestor > a:after { background:none; }


    .menu-active-border-with-arrow #main-menu > ul.menu > li.current_page_item > a:before, .menu-active-border-with-arrow #main-menu > ul.menu > li.current_page_ancestor > a:before, .menu-active-border-with-arrow #main-menu > ul.menu > li.current-menu-item > a:before, .menu-active-border-with-arrow #main-menu > ul.menu > li.current-menu-ancestor > a:before, .menu-active-border-with-arrow #main-menu > ul.menu > li.current_page_item > a:after, .menu-active-border-with-arrow #main-menu > ul.menu > li.current_page_ancestor > a:after, .menu-active-border-with-arrow #main-menu > ul.menu > li.current-menu-item > a:after, .menu-active-border-with-arrow #main-menu > ul.menu > li.current-menu-ancestor > a:after { border:none; background:none; display:none; }

    .menu-active-with-double-border #main-menu > ul.menu > li.current_page_item > a, .menu-active-with-double-border #main-menu > ul.menu > li.current_page_ancestor > a, .menu-active-with-double-border #main-menu > ul.menu > li.current-menu-item > a, .menu-active-with-double-border #main-menu > ul.menu > li.current-menu-ancestor > a { border:none; }

    .menu-with-slanting-splitter #main-menu ul.menu > li:before { background:none; }
    .fullwidth-menu-header.header-align-center .dt-sc-dark-bg .menu-wrapper, .fullwidth-menu-header.header-align-center .menu-wrapper { border:0; }

    .fullwidth-menu-header .menu-wrapper, .header-align-center.fullwidth-menu-header #main-menu, .header-align-center #main-menu ul.menu { text-align:left; }

    .menu-icons-wrapper { position:absolute; right:0px; top:0px; }



    .header-align-left #logo { display:block; width:auto; }
    .left-header #header-wrapper #logo a, .overlay-header .main-header-wrapper, .overlay-header #logo a { padding:0; }

    .main-header-wrapper { position:inherit; float:left; width:100%; top:0px; padding:0px 0px 20px; }
    .header-with-topbar .main-header-wrapper, .header-with-topbar.header-on-slider .main-header-wrapper, .boxed-header .main-header-wrapper, .header-on-slider.boxed-header .main-header-wrapper { top:0px; }
    .boxed-header .main-header { padding:0px; }
    .header-on-slider .main-title-section-wrapper { padding-top:43px; }



    #main-menu { background:#ffffff; box-shadow:0px 0px 5px rgba(0, 0, 0, 0.1); }
    #main-menu ul.menu > li.menu-item-has-children:hover > a::after { content: none; }

    .overlay-header #main-menu { background:transparent; }
    .overlay-header #main-menu > ul.menu { display:block; }

    .dt-sc-dark-bg #main-menu { background:#000000; }
    .standard-header.header-below-slider .dt-sc-dark-bg .main-header-wrapper #main-menu { background:#000000; }
    .home-page.page.header-on-slider.transparent-header .dt-sc-dark-bg .main-header-wrapper { background:#000000 !important; }
    .header-on-slider.transparent-header .dt-sc-dark-bg .main-header-wrapper #main-menu, .dt-sc-dark-bg #main-menu .megamenu-child-container, .dt-sc-dark-bg #main-menu ul li.menu-item-simple-parent ul { background:#000000; }
    .dt-sc-dark-bg #main-menu .megamenu-child-container > ul.sub-menu > li > a, .dt-sc-dark-bg #main-menu .megamenu-child-container > ul.sub-menu > li > .nolink-menu, .dt-sc-dark-bg #main-menu ul li.menu-item-simple-parent ul li a, .dt-sc-dark-bg #main-menu .megamenu-child-container ul.sub-menu > li > ul li a { color:#fff; }

    /*----*****---- << Breadcrumb >> ----*****----*/
    .main-title-section h1 { font-size:26px; }
    .main-title-section h1, .breadcrumb { text-align:center; }

    .main-title-section-wrapper.breadcrumb-right .main-title-section, .main-title-section-wrapper.breadcrumb-right .breadcrumb, .main-title-section-wrapper.breadcrumb-left .main-title-section, .main-title-section-wrapper.breadcrumb-left .breadcrumb { width:100%; padding:0; text-align:center; }
    .boxed-header.header-on-slider .main-title-section-wrapper { padding-top:45px; }

	

    /*----*****---- << Responsive Map >> ----*****----*/
    .responsive-map { max-width: 100%; }

    /*----*****---- << Footer >> ----*****----*/
    .footer-copyright .vc_col-sm-6 { width: 100% !important; margin-bottom:15px !important; }

}